.link-botton {
    height: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 14px;
    background-color: rgb(234, 233, 233);
    border-radius: 40px;
    text-shadow: 24px;
    font-size: 18px;
    font-style: bold;
}